/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.1);
}
