<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funchat - 聊得开心</title>

    <!-- Soho css -->
    <link rel="stylesheet" href="/css/soho-funchat.min.css">

    <!-- Funchat css -->
    <link rel="stylesheet" href="/css/funchat.css">
</head>
<body>

    <!-- 加载白屏 -->
    <div class="page-loading"></div>
    <!-- ./ 加载白屏 -->

    <!-- 添加好友模态框 -->
    <div class="modal fade" id="addFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti-user"></i> 添加好友
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">输入好友名称</div>
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-auto">
                                <button type="button" data-modal-button="search" class="btn btn-primary">搜索</button>
                            </div>
                        </div>
                    </form>
                    <ul class="list-group list-group-flush">
                        <!-- 列表内容动态添加 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ 添加好友模态框 -->

    <!-- 加入群聊模态框 -->
    <div class="modal fade" id="joinGroups" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti-comment-alt"></i> 加入群聊
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">输入群聊名称</div>
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-auto">
                                <button type="button" data-modal-button="search" class="btn btn-primary">搜索</button>
                            </div>
                        </div>
                    </form>
                    <ul class="list-group list-group-flush">
                        <!-- 动态创建内容 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ 加入群聊模态框 -->

    <!-- 新建群聊模态框 -->
    <div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-users"></i> 新建群聊
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="group_name" class="col-form-label">群聊名称</label>
                            <input type="text" class="form-control" id="group_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">创建</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ 新建群聊模态框 -->

    <!-- 编辑个人资料模态框 -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti-pencil"></i>信息修改
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#personal" role="tab"
                               aria-controls="personal" aria-selected="true">个人</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#about" role="tab" aria-controls="about"
                               aria-selected="false">签名</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="personal" role="tabpanel">
                            <form>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">用户名</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-user"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">头像</label>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <figure class="avatar mr-3 item-rtl">
                                                <img id="icon" src="./media/img/man_avatar3.jpg"
                                                     class="rounded-circle">
                                            </figure>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customIconFile">
                                            <label class="custom-file-label" for="customIconFile">选择文件</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-form-label">性别</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-user"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="gender">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthday" class="col-form-label">生日</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-user"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="birthday">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telephone" class="col-form-label">电话</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-mobile"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="telephone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addr" class="col-form-label">地址</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-map-alt"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="addr">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mail" class="col-form-label">邮箱</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-link"></i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" id="mail">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="about" role="tabpanel">
                            <form action="">
                                <div class="form-group">
                                    <label for="sign" class="col-form-label">编写你的签名</label>
                                    <textarea class="form-control" id="sign"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ 编辑个人资料模态框 -->

    <!-- 修改群聊信息模态框 -->
    <div class="modal fade" id="updateGroupInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="ti-pencil"></i> 修改群名
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="get_new_groupname">
                                    <div class="form-group">
                                        <label for="upgrade_groupName">新群聊名称</label>
                                        <input type="text" class="form-control" id="upgrade_groupName">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="update_group_info_btn" type="button" class="btn btn-primary">
                        修改
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ 编辑个人资料模态框 -->

    <!-- 整体布局 -->
    <div class="layout">

        <!-- 左侧导航栏 -->
        <nav class="navigation">
            <div class="nav-group">
                <ul>
                    <li>
                        <a class="logo" href="#">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="33.004px" height="33.003px" viewBox="0 0 33.004 33.003"
                                 style="enable-background:new 0 0 33.004 33.003;"
                                 xml:space="preserve">
                            <g>
                                <path d="M4.393,4.788c-5.857,5.857-5.858,15.354,0,21.213c4.875,4.875,12.271,5.688,17.994,2.447l10.617,4.161l-4.857-9.998
                                    c3.133-5.697,2.289-12.996-2.539-17.824C19.748-1.072,10.25-1.07,4.393,4.788z M25.317,22.149l0.261,0.512l1.092,2.142l0.006,0.01
                                    l1.717,3.536l-3.748-1.47l-0.037-0.015l-2.352-0.883l-0.582-0.219c-4.773,3.076-11.221,2.526-15.394-1.646
                                    C1.469,19.305,1.469,11.481,6.277,6.672c4.81-4.809,12.634-4.809,17.443,0.001C27.919,10.872,28.451,17.368,25.317,22.149z"/>
                                <g>
                                    <circle cx="9.835" cy="16.043" r="1.833"/>
                                    <circle cx="15.502" cy="16.043" r="1.833"/>
                                    <circle cx="21.168" cy="16.043" r="1.833"/>
                                </g>
                            </g>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a data-navigation-target="chats" class="active" href="#">
                            <i class="ti-comment-alt"></i>
                        </a>
                    </li>
                    <li class="brackets">
                        <a data-navigation-target="friends" href="#" class="notifiy_badge">
                            <i class="ti-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#editProfileModal">
                            <i class="ti-pencil"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="ti-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ./ 左侧导航栏 -->

        <!-- 内容 -->
        <div class="content">

            <!-- 右侧窗口组 -->
            <div class="sidebar-group">

                <!-- 聊天列表 -->
                <div id="chats" class="sidebar active">
                    <header>
                        <span>聊天</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="btn btn-light" href="#" data-toggle="tooltip" title="新建群聊"
                                   data-my-toggle="modal" data-my-target="#newGroup">
                                    <i class="fa fa-users"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-light" href="#" data-toggle="tooltip" title="加入群聊"
                                   data-my-toggle="modal" data-my-target="#joinGroups">
                                    <i class="ti-comment-alt"></i>
                                </a>
                            </li>
                            <li class="list-inline-item d-md-none">
                                <a href="#" class="btn btn-light sidebar-close">
                                    <i class="ti-close"></i>
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="sidebar-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="avatar-group">
                                    <figure class="avatar">
                                    <span class="avatar-title bg-success rounded-circle">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    </figure>
                                </div>
                                <div class="users-list-body">
                                    <h5>群聊1</h5>
                                    <p>这是群聊1</p>
                                    <div class="users-list-action">
                                        <div class="new-message-count">2</div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item open-chat">
                                <div class="avatar-group">
                                    <figure class="avatar">
                                    <span class="avatar-title bg-warning bg-success rounded-circle">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    </figure>
                                </div>
                                <div class="users-list-body">
                                    <h5>群聊2</h5>
                                    <p>这是群聊2</p>
                                    <div class="users-list-action action-toggle">
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" href="#">
                                                <i class="ti-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">打开</a>
                                                <a href="#" data-navigation-target="contact-information"
                                                   class="dropdown-item">信息</a>
                                                <a href="#" class="dropdown-item">退出</a>
                                                <a href="#" class="dropdown-item">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ./ 聊天列表 -->

                <!-- 好友列表 -->
                <div id="friends" class="sidebar">
                    <header>
                        <span>好友</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="btn btn-light" href="#" data-toggle="modal" data-target="#addFriends">
                                    <i class="ti-plus btn-icon"></i>添加好友
                                </a>
                            </li>
                            <li class="list-inline-item d-md-none">
                                <a href="#" class="btn btn-light sidebar-close">
                                    <i class="ti-close"></i>
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="sidebar-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="avatar-group">
                                    <figure class="avatar">
                                    <span class="avatar-title bg-success rounded-circle">
                                        A
                                    </span>
                                    </figure>
                                </div>
                                <div class="users-list-body">
                                    <h5>好友1</h5>
                                    <p>这是好友1</p>
                                    <div class="users-list-action action-toggle">
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" href="#">
                                                <i class="ti-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">打开</a>
                                                <a href="#" data-navigation-target="contact-information"
                                                   class="dropdown-item">信息</a>
                                                <a href="#" class="dropdown-item">退出</a>
                                                <a href="#" class="dropdown-item">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ./ 好友列表 -->

            </div>
            <!-- ./ 右侧窗口组 -->

            <!-- 聊天区域 -->
            <div class="chat">
                <div class="chat-header">
                    <div class="chat-header-user">
                        <div class="avatar-group">
                            <figure class="avatar avatar-lg">
                                    <span class="avatar-title bg-warning bg-success rounded-circle">
                                        <i class="fa fa-users"></i>
                                    </span>
                            </figure>
                        </div>
                        <div>
                            <h5>群聊1</h5>
                            <small class="text-muted">
                                <i>在线</i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="chat-body"> <!-- .no-message -->
                    <!-- No message
                    <div class="no-message-container">
                        <i class="fa fa-comments-o"></i>
                        <p>选择一个群聊</p>
                    </div>
                     Message -->
                    <div class="messages">
                        <div class="message-item">
                            <div class="message-content">
                                I can't wait
                            </div>
                            <div class="message-action">
                                Pm 15:00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-footer">
                    <form>
                        <input id="chat-input" type="text" class="form-control" placeholder="在此处输入消息"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="form-buttons">
                            <button id="chat-send" class="btn btn-primary btn-floating" type="button">
                                <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ./ 聊天区域 -->

            <!-- 左侧窗口组 -->
            <div class="sidebar-group">

                <!-- 信息列表 -->
                <div id="contact-information" class="sidebar">
                    <header>
                        <span>信息</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-light sidebar-close">
                                    <i class="ti-close"></i>
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="sidebar-body">
                        <!-- 内容动态生成 -->
                    </div>
                </div>
                <!-- ./ 信息列表 -->

            </div>
            <!-- ./ 左侧窗口组 -->

        </div>
        <!-- ./ 内容 -->

    </div>
    <!-- ./ 整体布局 -->

    <!-- JQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <!-- Popper -->
    <script src="/js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Funchat -->
    <script src="/js/funchat.js"></script>

    <!-- Index -->
    <script src="/js/index.js"></script>
</body>
</html>
