<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FunChat - 聊天讨论平台</title>

    <!-- Soho css -->
    <link rel="stylesheet" href="/css/soho-funchat.min.css">

    <!-- Funchat css -->
    <link rel="stylesheet" href="/css/funchat.css">
</head>
<body class="form-membership">

    <!-- page loading -->
    <div class="page-loading"></div>
    <!-- ./ page loading -->

    <div class="form-wrapper">

        <!-- logo -->
        <div class="logo">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="50.004px" height="50.003px" viewBox="0 0 33.004 33.003"
                 style="enable-background:new 0 0 33.004 33.003;"
                 xml:space="preserve">
            <g>
                <path d="M4.393,4.788c-5.857,5.857-5.858,15.354,0,21.213c4.875,4.875,12.271,5.688,17.994,2.447l10.617,4.161l-4.857-9.998
                    c3.133-5.697,2.289-12.996-2.539-17.824C19.748-1.072,10.25-1.07,4.393,4.788z M25.317,22.149l0.261,0.512l1.092,2.142l0.006,0.01
                    l1.717,3.536l-3.748-1.47l-0.037-0.015l-2.352-0.883l-0.582-0.219c-4.773,3.076-11.221,2.526-15.394-1.646
                    C1.469,19.305,1.469,11.481,6.277,6.672c4.81-4.809,12.634-4.809,17.443,0.001C27.919,10.872,28.451,17.368,25.317,22.149z"/>
                <g>
                    <circle cx="9.835" cy="16.043" r="1.833"/>
                    <circle cx="15.502" cy="16.043" r="1.833"/>
                    <circle cx="21.168" cy="16.043" r="1.833"/>
                </g>
            </g>
        </svg>
        </div>
        <!-- ./ logo -->

        <h5>FunChat</h5>

        <!-- login_form -->
        <form id="login_form" style="display: block">
            <div class="form-group input-group-lg">
                <input type="text" class="form-control" id="username" placeholder="用户名" required autofocus>
            </div>
            <div class="form-group input-group-lg">
                <input type="password" class="form-control" id="password" placeholder="密码" required>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">记住密码</label>
                </div>
                <a href="#">忘记密码</a>
            </div>
            <button data-my-button-click="login" type="button" class="btn btn-primary btn-lg btn-block">登录</button>
            <hr>
            <p class="text-muted">用其他社交软件登录</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-google">
                        <i class="fa fa-google"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-behance">
                        <i class="fa fa-behance"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <hr>
            <p class="text-muted">还没有账户？</p>
            <a data-my-login="register_form" class="btn btn-outline-light btn-sm">注册账户</a>
        </form>
        <!-- ./ form -->

        <!--register_form-->
        <form id="register_form" style="display: none">
            <div class="form-group input-group-lg">
                <input id="email" type="email" class="form-control" placeholder="邮箱" required autofocus>
            </div>
            <div class="form-group input-group-lg">
                <input id="telephone" type="text" class="form-control" placeholder="电话" required>
            </div>
            <div class="form-group input-group-lg">
                <input id="username" type="text" class="form-control" placeholder="用户名" required>
            </div>
            <div class="form-group input-group-lg">
                <input id="password" type="password" class="form-control" placeholder="密码" required>
            </div>
            <button data-my-button-click="regist" type="button" class="btn btn-primary btn-lg btn-block">注册</button>
            <hr>
            <p class="text-muted">已经有账号了?</p>
            <a data-my-login="login_form" class="btn btn-outline-light btn-sm">去登录</a>
        </form>
        <!--./register_form-->

    </div>

    <!-- JQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <!-- Popper -->
    <script src="/js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Funchat -->
    <script src="/js/funchat.js"></script>

    <!-- Login -->
    <script src="/js/login.js"></script>
</body>
</html>