<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>好友列表</title>
</head>
<body>
<table>
    <tr>
        <th>好友id</th>
        <th>好友名字</th>
    </tr>
    <!--
        对集合变量usres进行遍历
    -->
    <tr th:each="user : ${users}">
        <td  th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
    </tr>
</table>

<h1>删除好友</h1>
<form th:action="@{/deleteFriend}"
      method="post">
    <table width="20%" border=1>
    <tr>
        <th>选择</th>
        <th>好友名字</th>
    </tr>
    <!--
        对集合变量usres进行遍历
    -->
    <tr th:each="user : ${users}">
        <td><input name="ids" th:value="${user.id}" type="checkbox"></td>
        <td th:text="${user.username}"></td>
    </tr>
    </table>
    <input type="submit" value="删除"/>
</form>
</body>
</html>