<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>搜索好友</title>
</head>
<body>
<form th:action="@{/search}"
      method="post">
    <tr>
        <th>搜索</th>
        名称<input type="text" name="username" id="username"><br/>
        <input type="submit" value="搜索"/>
    </tr>
</form>
<table>
    <tr>
        <th>id</th>
        <th>用户名称</th>
    </tr>
    <!--
        对集合变量usres进行遍历
    -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td > <input type="button" value="添加" onclick=" addfriend()"/></td>
    </tr>
</table>
<table>
    <tr>
        <th>id</th>
        <th>群名称</th>
    </tr>
    <!--
        对集合变量usres进行遍历
    -->
    <tr th:each="group: ${groups}">
        <td  th:text="${group.gropId}"></td>
        <td th:text="${group.gropName}"></td>
        <td > <input type="button" value="加入" onclick=" addgroup()"/></td>
    </tr>
</table>
</body>
</html>