<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.funchat.dao.ChatGroupMapper">
  <resultMap id="BaseResultMap" type="com.shixun.funchat.entity.ChatGroup">
    <id column="grop_id" jdbcType="INTEGER" property="gropId" />
    <result column="grop_name" jdbcType="VARCHAR" property="gropName" />
    <result column="sum" jdbcType="INTEGER" property="sum" />
    <result column="grop_type" jdbcType="VARCHAR" property="gropType" />
  </resultMap>
  <sql id="Base_Column_List">
    grop_id, grop_name, sum, grop_type
  </sql>

  <!-- 根据id关联查找grop_structure表和grop表 -->
  <select id="selectChatGroupsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select g.*
    from grop g, grop_structure s
    where g.grop_id = s.grop_id
    and s.id=#{id,jdbcType=INTEGER}
  </select>

  <!-- 根据名称模糊搜索群聊 -->
  <select id="selectByGroupName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from grop
    where grop_name like concat(#{searchName,jdbcType=VARCHAR},"%")
  </select>

  <!-- 选择性查找 -->
  <select id="selectBySelective" parameterType="com.shixun.funchat.entity.ChatGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from grop
    <where>
      <if test="gropId != null">
        and grop_id = #{gropId,jdbcType=INTEGER}
      </if>
      <if test="gropName != null">
        and grop_name = #{gropName,jdbcType=VARCHAR}
      </if>
      <if test="sum != null">
        and sum = #{sum,jdbcType=INTEGER}
      </if>
      <if test="gropType != null">
        and grop_type = #{gropType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!-- 自动生成 -->
  <!-- 查找 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from grop
    where grop_id = #{gropId,jdbcType=INTEGER}
  </select>
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grop
    where grop_id = #{gropId,jdbcType=INTEGER}
  </delete>
  <!-- 插入 -->
  <insert id="insert" parameterType="com.shixun.funchat.entity.ChatGroup" useGeneratedKeys="true" keyProperty="gropId">
    insert into grop (grop_id, grop_name, sum, 
      grop_type)
    values (#{gropId,jdbcType=INTEGER}, #{gropName,jdbcType=VARCHAR}, #{sum,jdbcType=INTEGER}, 
      #{gropType,jdbcType=VARCHAR})
  </insert>
  <!-- 选择性插入-->
  <insert id="insertSelective" parameterType="com.shixun.funchat.entity.ChatGroup">
    insert into grop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gropId != null">
        grop_id,
      </if>
      <if test="gropName != null">
        grop_name,
      </if>
      <if test="sum != null">
        sum,
      </if>
      <if test="gropType != null">
        grop_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gropId != null">
        #{gropId,jdbcType=INTEGER},
      </if>
      <if test="gropName != null">
        #{gropName,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="gropType != null">
        #{gropType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 选择性更新-->
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.funchat.entity.ChatGroup">
    update grop
    <set>
      <if test="gropName != null">
        grop_name = #{gropName,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="gropType != null">
        grop_type = #{gropType,jdbcType=VARCHAR},
      </if>
    </set>
    where grop_id = #{gropId,jdbcType=INTEGER}
  </update>
  <!-- 更新-->
  <update id="updateByPrimaryKey" parameterType="com.shixun.funchat.entity.ChatGroup">
    update grop
    set grop_name = #{gropName,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=INTEGER},
      grop_type = #{gropType,jdbcType=VARCHAR}
    where grop_id = #{gropId,jdbcType=INTEGER}
  </update>
</mapper>