<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.funchat.dao.GroupStructureMapper">
  <resultMap id="BaseResultMap" type="com.shixun.funchat.entity.GroupStructure">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="grop_id" jdbcType="INTEGER" property="gropId" />
    <result column="grop_job" jdbcType="VARCHAR" property="gropJob" />
  </resultMap>
  <sql id="Base_Column_List">
    id, grop_id, grop_job
  </sql>

  <!-- 自动生成 -->
  <!-- 查找 -->
  <select id="selectByPrimaryKey" parameterType="com.shixun.funchat.entity.GroupStructureKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grop_structure
    where id = #{id,jdbcType=INTEGER}
      and grop_id = #{gropId,jdbcType=INTEGER}
  </select>
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="com.shixun.funchat.entity.GroupStructureKey">
    delete from grop_structure
    where id = #{id,jdbcType=INTEGER}
      and grop_id = #{gropId,jdbcType=INTEGER}
  </delete>
  <!-- 批量删除 -->
  <delete id="deleteSelective" parameterType="com.shixun.funchat.entity.GroupStructure">
    delete from grop_structure
    where
    <trim suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and
      </if>
      <if test="gropId != null">
        grop_id = #{gropId,jdbcType=INTEGER} and
      </if>
      <if test="gropJob != null">
        grop_job = #{gropJob,jdbcType=INTEGER} and
      </if>
    </trim>
  </delete>
  <!-- 插入 -->
  <insert id="insert" parameterType="com.shixun.funchat.entity.GroupStructure">
    insert into grop_structure (id, grop_id, grop_job
      )
    values (#{id,jdbcType=INTEGER}, #{gropId,jdbcType=INTEGER}, #{gropJob,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 选择性插入 -->
  <insert id="insertSelective" parameterType="com.shixun.funchat.entity.GroupStructure">
    insert into grop_structure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gropId != null">
        grop_id,
      </if>
      <if test="gropJob != null">
        grop_job,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gropId != null">
        #{gropId,jdbcType=INTEGER},
      </if>
      <if test="gropJob != null">
        #{gropJob,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 选择性更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.funchat.entity.GroupStructure">
    update grop_structure
    <set>
      <if test="gropJob != null">
        grop_job = #{gropJob,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and grop_id = #{gropId,jdbcType=INTEGER}
  </update>
  <!-- 更新 -->
  <update id="updateByPrimaryKey" parameterType="com.shixun.funchat.entity.GroupStructure">
    update grop_structure
    set grop_job = #{gropJob,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and grop_id = #{gropId,jdbcType=INTEGER}
  </update>
</mapper>